
label {
  color: #B4886B;
  font-weight: bold;
  width: 90px;
  float: left;
}


select {
  padding: 3px;
  box-shadow: 3px 3px 5px grey;
  font-size: 14px;
  font-weight: 600;
  width: 300px;
}

fieldset {
    border: 1px solid #CCA383;
    width: 50%;
    background: #FFE8EF;
    padding: 3px;
}
fieldset legend {
    background: #CCA383;
    padding: 6px;
    font-weight: bold;
}
